<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card my-5 shadow-sm" >
                <div class="card-body" style="background-color: bisque;">
                    <h2>{{todo?.title}}</h2>
                    <p>{{todo?.content}}</p>
                    
                     <b>{{todo!.status?"DONE":"NOT DONE"}}</b>
                     <div class="mt-3">
                        <button class="btn btn-secondary btn-lg" [routerLink]="['/todos']">Back</button>
                        <!-- <button class="btn btn-danger btn-lg ms-2" (click)="deleteTodo(singleTodo.id)">Delete</button> -->
                        <button class="btn btn-primary btn-lg ms-2" [routerLink]="['/update-todo',todo!.id]">Update</button>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>