<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card my-5 shadow-sm" >
                <div class="card-body" style="background-color: bisque;">
                    <h2>This is Todo Title</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius, laboriosam autem consectetur, delectus dignissimos vero eos inventore nostrum maxime blanditiis perspiciatis. Placeat, architecto! Voluptatem explicabo aliquid ut consequatur mollitia ad esse nihil obcaecati sunt repudiandae dolorem illo, quas, eum iusto tenetur dolores, sit vero incidunt magnam ullam ex neque magni!</p>
                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam omnis explicabo ea cupiditate tenetur excepturi, autem deleniti facilis? Amet, voluptatem temporibus exercitationem tempora unde, possimus quibusdam nisi consequatur nam a harum ad et qui. Tenetur, ut numquam possimus dolores incidunt autem quo sit similique repudiandae minus iure accusantium reiciendis molestiae.</p>
                     <b>Done</b>
                     <div class="mt-3">
                        <button class="btn btn-secondary btn-lg" [routerLink]="['/todos']">Back</button>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>