<div class="container">
    <div class="card mt-5 shadow-sm" style="background-color:bisque;">
        <div class="card-body ">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam odit rerum expedita libero, in a, quasi perspiciatis dolorum ipsam aliquid omnis at impedit? Ratione id obcaecati est, reprehenderit autem aliquid eum veniam iusto eius voluptate ea quidem. Dolor aspernatur inventore, ducimus assumenda necessitatibus obcaecati, nesciunt quam illo corrupti nisi libero!</p>
        </div>
    </div>
</div>
