<div class="card mt-3 shadow-sm" style="background-color: bisque;">
    <div class="card-body">
        <h4>This is Todo Title</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis distinctio quaerat sint maxime ex consequuntur beatae incidunt, in quos facilis, repellat non iusto nulla eaque sapiente cupiditate nobis? Nisi, iste cumque natus autem corporis qui eaque temporibus architecto explicabo laudantium veritatis quos maiores! Numquam autem sit consequatur eius ad atque.</p>
        <b>Done</b>
        <div class="container text-center">
            <button class="btn btn-primary btn-sm" [routerLink]="['/todo']">VIEW</button>
            <button class="btn btn-danger ms-2 btn-sm">DELETE</button>
            <button class="btn btn-warning ms-2 btn-sm" [routerLink]="['/update-todo']">UPDATE</button>
        </div>
    </div>
   
</div>